@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  background-size: cover;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 0.9s;
  justify-content: center;
}

.hidden {
  display: none;
}

.direction {
  text-align: center;
}

.shadow {
  text-shadow: 4px 4px 7px rgb(0, 0, 0);
}

.input {
  margin-top: 30px;
  margin-bottom: 1%;
  font-size: 25px;
  color: rgb(255, 255, 255);
  width: 400px;
  height: 50px;
  text-align: center;
}

.border {
  border: 5px solid rgb(187, 194, 201);
  background-color: rgb(36, 34, 34, 0.6);
  border-radius: 30px;
}

.input::placeholder {
  color: snow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button {
  border: none;
  margin-top: -10px;
  margin-bottom: -20px;
  margin-left: 10px;
  margin-right: -15px;
  color: red;
  background-color: transparent;
}

#clock {
  margin-top: 150px;
  margin-bottom: 20px;
  color: rgb(187, 194, 201);
  font-weight: 150;
  font-size: 1050%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#login-form {
  margin-top: 130px;
}

#greeting {
  color: rgb(187, 194, 201);
  margin: 0px;
  font-size: 85px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#todo-list {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 550px;
  margin-right: 550px;
  list-style: none;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: snow;
}

#todo-list > li {
  text-align: center;
}

#quote {
  position: fixed;
  bottom: 30px;
  width: 100%;
  overflow: hidden;
  margin-top: 0px;
  color: aquamarine;
  font-size: 20px;
}

#now-weather {
  position: absolute;
  top: 10px;
  right: 30px;
  color: rgb(251, 255, 0);
  margin-left: 200px;
}

#weatherInfo {
}

#weatherIcon {
  width: 100px;
  height: 100px;
  object-fit: cover;
  left: 30px;
}
